body{
    background-color: black !important;
}
.imgblk img{
    width: 100%;
    height: 50%;
}

p, h1{
    color: white;
}

ul{
    color: purple;
}

ol{
    color: white;
}

q{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    margin: 100px;
}

.Nasa a:visited{
    color: yellow;
}

.table table{
    width: 100%;
}

.table th, td{
    color: seashell;
    border: 2px solid;
    padding: 10px;
    text-align: left;
}

.caption{
    caption-side: top;
    color: seashell;
    text-align: center;
}

#dec2bin{
    color: yellow;
}


